<div class="jumbotron center">
	<h1 class='bigtitle'>Welcome to my app!</h1>

	<% if user_signed_in? %>
	<!-- diplay normal page stuff --> 
	<p>Welcome to the members area!</p>
	<div class = container>
		<input type="text" class = 'userinputtext'>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 image1 slide">
				<img src="http://placekitten.com/700/300" alt="">
			</div>
			<div class="col-sm-12 image2 slide">
				<img src="http://placekitten.com/699/300" alt="">
			</div>
			<div class="col-sm-12 image3 slide">
				<img src="http://placekitten.com/701/300" alt="">
			</div>
		</div>
	</div>
	<!-- here is html for buttons -->
	<div class="container buttons center">
		<div class="row ">
			<div class="btn-group">
				<button class="next btn btn-warning"> PREV </button>
				<button class="reset btn btn-info"> RESET </button>
				<button class="prev btn btn-success"> NEXT </button>
			</div>
		</div>
	</div>
	<% else %>
	<!-- display login and signup link -->
	<p>
		<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %> 
		<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
	</p>
	<% end %>
</div>